.loginPage {
  background-image: url('/assets/images/bulbBlur.png');
  height: 100vh;
  width: 100%;
  background-size: cover;
}

.loginn {
  position: relative;
  top: 43px;
  width: 75%;
  margin: auto;
}

.row {
  border-radius: 15px;
}

.logo {
  display: flex;
  justify-content: center;
  img {
    width: 65%;
  }
}

.image {
  background-image: url('/assets/images/bulb.png');
  background-size: cover;
  height: 610px !important;
}

.details {
  font-family: 'Open Sans', 'sans-serif';
  background-color: #000000A2;
  border-radius: 0px 13px 13px 0px;
}

h1 {
  text-align: center;
  font-weight: 600;
  font-family: 'Times New Roman', Times, serif;
  font-size: 30px;
  color: #FFAA17;
}

.info {
  position: relative;
  top: 80px;
  width: 70%;
  margin: auto;
}

mat-label {
  color: white;
}

:host ::ng-deep .mat-form-field-appearance-outline:not(.mat-form-field-disabled) .mat-form-field-flex .mat-form-field-outline {
  background-color: white !important;
  border-radius: 7px;
  height: 40px;
}

:host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  display: flex;
  position: absolute;
  top: 01em !important;
  left: 0;
}

.submit {
  display: flex;
  background-color: #FAA81D;
  padding: 1px;
  border-radius: 5px;
  height: 35px;
  justify-content: space-between;
  button {
    font-family: 'Open Sans', 'sans-serif';
  }
}

.cancel {
  width: 50%;
  background-color: #000000A2;
  color: white;
  border-radius: 5px;

  button {
    position: relative;
    top: 7px;
    left: 41px;
  }
}

.login {
  left: 20px;
  color: white;
}

hr {
  color: #E7E7E7;
  height: 2px;
}

.copyrights {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 165px;
  color: white;
  font-size: 10px;
}
