.loginPage img {
  background-size: cover;
  height: 100vh;
  width: 100%;
}

.image img {
  background-size: cover;
}

.details {
  background-color: #000000A2;
}

.row {
  width: 75%;
  border: 1px solid;
  border-radius: 12px;
}
