<mat-dialog-content class="mat-typography">
  <h3>Attendance for 21</h3>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">No</th>
        <th scope="col">Employee ID</th>
        <th scope="col">Employee Name</th>
        <th scope="col">Attendance</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td class="action">
          <mat-checkbox class="morning example-margin"></mat-checkbox>
          <mat-checkbox class="afternoon example-margin"></mat-checkbox>
        </td>
      </tr>
    </tbody>
  </table>
</mat-dialog-content>
