<div class="container">

    <mat-accordion>
      <mat-expansion-panel (opened)="panelOpenState = true">
        <mat-expansion-panel-header>
          <mat-panel-title></mat-panel-title>
          <mat-panel-description></mat-panel-description>
        </mat-expansion-panel-header>
        <form [formGroup]="skillsForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-md-6">
                  <mat-label class="d-block">Company Name</mat-label>
                  <mat-form-field appearance="outline">
                      <input matInput class="matInput" formControlName="companyName" required>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-label class="d-block">Years of Experience</mat-label>
                  <mat-form-field appearance="outline">
                    <input matInput class="matInput" formControlName="experience" required>
                  </mat-form-field>
                </div>
              </div>
          <div class="row">
            <div class="col-md-6">
              <mat-label class="d-block">Date of Joining</mat-label>
              <mat-form-field appearance="outline">
                  <input matInput [matDatepicker]="picker" formControlName="joining" required>
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-label class="d-block">Skill Rating</mat-label>
              <mat-form-field appearance="outline">
                <input matInput [matDatepicker]="relieve" formControlName="relieving" required>
                <mat-datepicker-toggle matSuffix [for]="relieve"></mat-datepicker-toggle>
                <mat-datepicker #relieve></mat-datepicker>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <mat-label class="d-block">Designation</mat-label>
              <mat-form-field appearance="outline">
                <mat-select formControlName="designation" required>
                  <mat-option value="option1">Married</mat-option>
                  <mat-option value="option2">Unmarried</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-label class="d-block">Location</mat-label>
                <mat-form-field appearance="outline">
                  <input matInput class="matInput" formControlName="location" required>
                </mat-form-field>
              </div>
          </div>
        </form>
      </mat-expansion-panel>
    </mat-accordion>
  
    <mat-card>
      <div class="submit">
        <button mat-raised-button class="previous">Previous</button>
        <button mat-raised-button class="next" [disabled]="skillsForm.invalid">Next</button>
      </div>
    </mat-card>
  
  </div>
  