.newBatch {
    background-color: #FAA81D;
}

tbody,
td,
tfoot,
th,
thead,
tr {
    border-color: none;
    border-style: solid;
    border-width: 0;
}


table thead {
    background-color: #E9EEF7;
}

.matTable {
    background-color: white;
    border: 1px solid #E9EEF7;
}