<mat-card class="status">
  <div class="headers">
    <h3 style="color: #086288; font-family: Lucida Console, Monaco;">Change Status</h3>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <hr>
  <div class="row">
    <div class="batchName col-md-12">
      <mat-label>Batch Name</mat-label>
      <mat-form-field appearance="outline">
        <select matNativeControl required>
          <option value="volvo">Volvo</option>
          <option value="saab">Saab</option>
          <option value="mercedes">Mercedes</option>
          <option value="audi">Audi</option>
        </select>
      </mat-form-field>
    </div>
    <div class="batchID col-md-12">
      <mat-label>Batch ID</mat-label>
      <mat-form-field appearance="outline">
        <select matNativeControl required>
          <option value="volvo">Volvo</option>
          <option value="saab">Saab</option>
          <option value="mercedes">Mercedes</option>
          <option value="audi">Audi</option>
        </select>
      </mat-form-field>
    </div>
  </div>
  <hr>
  <div class="return">
    <button mat-raised-button class="previous" routerLink="mock-rating">Submit</button>
  </div>
</mat-card>
