<div class="container-fluid">
  <mat-card>
    <div class="details">
      <div class="primary">
        <div class="primary-info">
          <h2>Primary Info</h2>
          <button class="material-symbols-outlined edit" (click)="edit($event)">edit</button>
        </div>
        <div class="gap">
          <div class="row">
            <div class="col-md-3">
              <span>Employee ID:</span>&nbsp;&nbsp;
              <input type="text" name="" id="" [readonly]="clicked" value="1234">
            </div>
            <div class="col-md-3">
              <span>Employee Name:</span>&nbsp;&nbsp;
              <input type="text" name="" id="" [readonly]="clicked" value="1234">
            </div>
            <div class="col-md-3">
              <span>Date of Joining:</span>&nbsp;&nbsp;
              <input type="text" name="" id="" [readonly]="clicked" value="1234">
            </div>
            <div class="col-md-3">
              <span>Date of Birth:</span>&nbsp;&nbsp;
              <input type="text" name="" id="" [readonly]="clicked" value="1234">
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <span>Salary:</span>&nbsp;&nbsp;
              <input type="text" name="" id="" [readonly]="clicked" value="1234">
            </div>
            <div class="col-md-3">
              <span>Blood Group:</span>&nbsp;&nbsp;
              <input type="text" name="" id="" [readonly]="clicked" value="1234">
            </div>
            <div class="col-md-3">
              <span>Designation:</span>&nbsp;&nbsp;
              <input type="text" name="" id="" [readonly]="clicked" value="1234">
            </div>
            <div class="col-md-3">
              <span>Gender:</span>&nbsp;&nbsp;
              <input type="text" name="" id="" [readonly]="clicked" value="1234">
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <span>Nationality:</span>&nbsp;&nbsp;
              <input type="text" name="" id="" [readonly]="clicked" value="1234">
            </div>
            <div class="col-md-3">
              <span>Employee Status:</span>&nbsp;&nbsp;
              <input type="text" name="" id="" [readonly]="clicked" value="1234">
            </div>
          </div>
        </div>
      </div>

      <hr>

      <div class="secondary">
        <div class="secondary-info">
          <h2>Secondary Info</h2>
          <div class="gap">
            <div class="row">
              <div class="col-md-3">
                <span>PAN No:</span>&nbsp;&nbsp;
                <input type="text" name="" id="" [readonly]="clicked" value="1234">
              </div>
              <div class="col-md-3">
                <span>Aadhaar No:</span>&nbsp;&nbsp;
                <input type="text" name="" id="" [readonly]="clicked" value="1234">
              </div>
              <div class="col-md-3">
                <span>Father Name:</span>&nbsp;&nbsp;
                <input type="text" name="" id="" [readonly]="clicked" value="1234">
              </div>
              <div class="col-md-3">
                <span>Mother Name:</span>&nbsp;&nbsp;
                <input type="text" name="" id="" [readonly]="clicked" value="1234">
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                <span>Spouse Name</span>&nbsp;&nbsp;
                <input type="text" name="" id="" [readonly]="clicked" value="1234">
              </div>
              <div class="col-md-3">
                <span>Passport No:</span>&nbsp;&nbsp;
                <input type="text" name="" id="" [readonly]="clicked" value="1234">
              </div>
              <div class="col-md-3">
                <span>Marital Status:</span>&nbsp;&nbsp;
                <input type="text" name="" id="" [readonly]="clicked" value="1234">
              </div>
            </div>
          </div>
        </div>
      </div>

      <hr>

      <div class="education">
        <div class="education-info">
          <h2>Education Details</h2>
          <div class="gap">
            <div class="row">
              <div class="col-md-3">
                <span>Education Type:</span>&nbsp;&nbsp;
                <input type="text" name="" id="" [readonly]="clicked" value="1234">

              </div>
              <div class="col-md-3">
                <span>Year of Passing:</span>&nbsp;&nbsp;
                <input type="text" name="" id="" [readonly]="clicked" value="1234">

              </div>
              <div class="col-md-3">
                <span>Percentage (%):</span>&nbsp;&nbsp;
                <input type="text" name="" id="" [readonly]="clicked" value="1234">
              </div>
              <div class="col-md-3">
                <span>University Name:</span>&nbsp;&nbsp;
                <input type="text" name="" id="" [readonly]="clicked" value="1234">
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                <span>Institute Name:</span>&nbsp;&nbsp;
                <input type="text" name="" id="" [readonly]="clicked" value="1234">
              </div>
              <div class="col-md-3">
                <span>Specialization</span>&nbsp;&nbsp;
                <input type="text" name="" id="" [readonly]="clicked" value="1234">
              </div>
              <div class="col-md-3">
                <span>State:</span>&nbsp;&nbsp;
                <input type="text" name="" id="" [readonly]="clicked" value="1234">
              </div>
            </div>
          </div>
        </div>
      </div>

      <hr>

      <div class="address">
        <div class="address-info">
          <h2>Address Details</h2>
          <div class="gap">
            <div class="row">
              <div class="col-md-3">
                <span>Address Type:</span>&nbsp;&nbsp;
                <input type="text" name="" id="" [readonly]="clicked" value="1234">
              </div>
              <div class="col-md-3">
                <span>Door No:</span>&nbsp;&nbsp;
                <input type="text" name="" id="" [readonly]="clicked" value="1234">
              </div>
              <div class="col-md-3">
                <span>Street:</span>&nbsp;&nbsp;
                <input type="text" name="" id="" [readonly]="clicked" value="1234">
              </div>
              <div class="col-md-3">
                <span>Locality:</span>&nbsp;&nbsp;
                <input type="text" name="" id="" [readonly]="clicked" value="1234">
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                <span>City:</span>&nbsp;&nbsp;
                <input type="text" name="" id="" [readonly]="clicked" value="1234">
              </div>
              <div class="col-md-3">
                <span>State</span>&nbsp;&nbsp;
                <input type="text" name="" id="" [readonly]="clicked" value="1234">
              </div>
              <div class="col-md-3">
                <span>PIN Code:</span>&nbsp;&nbsp;
                <input type="text" name="" id="" [readonly]="clicked" value="1234">
              </div>
              <div class="col-md-3">
                <span>Land Mark:</span>&nbsp;&nbsp;
                <input type="text" name="" id="" [readonly]="clicked" value="1234">
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>

      <div class="bank">
        <div class="bank-info">
          <h2>Bank Details</h2>
          <div class="gap">
            <div class="row">
              <div class="col-md-3">
                <span>Account No:</span>&nbsp;&nbsp;
                <input type="text" name="" id="" [readonly]="clicked" value="1234">
              </div>
              <div class="col-md-3">
                <span>Bank Name:</span>&nbsp;&nbsp;
                <input type="text" name="" id="" [readonly]="clicked" value="1234">
              </div>
              <div class="col-md-3">
                <span>Bank Type:</span>&nbsp;&nbsp;
                <input type="text" name="" id="" [readonly]="clicked" value="1234">
              </div>
              <div class="col-md-3">
                <span>IFSC Code:</span>&nbsp;&nbsp;
                <input type="text" name="" id="" [readonly]="clicked" value="1234">
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                <span>Branch:</span>&nbsp;&nbsp;
                <input type="text" name="" id="" [readonly]="clicked" value="1234">
              </div>
              <div class="col-md-3">
                <span>State</span>&nbsp;&nbsp;
                <input type="text" name="" id="" [readonly]="clicked" value="1234">
              </div>
            </div>
          </div>
        </div>
      </div>

      <hr>

      <div class="skills">
        <div class="skills-info">
          <h2>Technical Skills</h2>
          <div class="gap">
            <div class="row">
              <div class="col-md-3">
                <span>Skill Type:</span>&nbsp;&nbsp;
                <input type="text" name="" id="" [readonly]="clicked" value="1234">
              </div>
              <div class="col-md-3">
                <span>Skill Rating:</span>&nbsp;&nbsp;
                <input type="text" name="" id="" [readonly]="clicked" value="1234">
              </div>
              <div class="col-md-3">
                <span>Year of Experience (over skill):</span>&nbsp;&nbsp;
                <input type="text" name="" id="" [readonly]="clicked" value="1234">
              </div>
            </div>
          </div>
        </div>
      </div>

      <hr>

      <div class="experience">
        <div class="experience-info">
          <h2>Experience</h2>
          <div class="gap">
            <div class="row">
              <div class="col-md-3">
                <span>Date of Joining:</span>&nbsp;&nbsp;
                <input type="text" name="" id="" [readonly]="clicked" value="1234">
              </div>
              <div class="col-md-3">
                <span>Year of Experience:</span>&nbsp;&nbsp;
                <input type="text" name="" id="" [readonly]="clicked" value="1234">
              </div>
              <div class="col-md-3">
                <span>Company Name:</span>&nbsp;&nbsp;
                <input type="text" name="" id="" [readonly]="clicked" value="1234">
              </div>
              <div class="col-md-3">
                <span>Designation:</span>&nbsp;&nbsp;
                <input type="text" name="" id="" [readonly]="clicked" value="1234">
              </div>
            </div>
          </div>
        </div>
      </div>

      <hr>

      <div class="contact">
        <div class="contact-info">
          <h2>Contact</h2>
          <div class="gap">
            <div class="row">
              <div class="col-md-3">
                <span>Contact Type:</span>&nbsp;&nbsp;
                <input type="text" name="" id="" [readonly]="clicked" value="1234">
              </div>
              <div class="col-md-3">
                <span>Contact No:</span>&nbsp;&nbsp;
                <input type="text" name="" id="" [readonly]="clicked" value="1234">
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="submit">
        <button mat-raised-button class="next" data-bs-toggle="modal" data-bs-target="#exampleModal">Submit</button>
      </div>
    </div>
  </mat-card>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <h2>Record Updated Successfully</h2>
        <div class="ok">
          <button mat-raised-button class="next" data-bs-dismiss="modal">OK</button>
        </div>
      </div>
    </div>
  </div>
</div>
