.primary-info {
    display: flex;
    justify-content: space-between;
}

.gap {
    display: grid;
    grid-gap: 20px;
}

.submit {
    display: flex;
    justify-content: end;
    button {
        font-family: 'Open Sans', sans-serif;
    }
}

.ok {
    display: flex;
    justify-content: center;
}

.modal-body {
    h2 {
        text-align: center;
    }
}

hr {
    border: 1px dashed #001822;
    height: 2px;
    color: #001822;
}

input {
    border: none;
    outline: none;
}

.details {
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
    color: #616161;

    h2 {
        font-family: 'Open Sans', sans-serif;
        font-weight: bolder;
        color: black
    }
}

.edit {
    background-color: transparent;
    border: none;
}