.primary-info {
    display: flex;
    justify-content: space-between;
}

.gap {
   display: grid;
   grid-gap: 20px;
}

.submit {
    display: flex;
    justify-content: end;
}

.ok {
    display: flex;
    justify-content: center;
}

.modal-body {
    h2 {
        text-align: center;
    }
}

hr {
    border: 1px dashed #001822;
    height: 2px;
    color: #001822;
}