nav {
    position: sticky;
    top: 0px;
    height: 70px;
    background-color: #ffffff;
    z-index: 1;
    border: 1px solid #0000000A;
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-collapse {
        display: block !important;
        flex-basis: auto;
    }
}

.navbar-brand img {
    width: 75%;
    margin-left: 15px;
}

.search {
    background: url('/assets/images/search.png') no-repeat scroll 8px 10px;
    padding-left: 30px;
    background-color: #F4F5F8;
}

.d-flex {
    width: 547px;
    border-radius: 6px;
}

.user {
    margin-top: 12px;

    img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }
}

.profile {
    display: flex;
}

.name {
    position: relative;
    top: 6px;
    font-family: Verdana, Sans-serif;
}

::ng-deep button.mat-menu-item:hover {
    font-size: 16px;
    color: #075575;
}

mat-menu {
    font-size: 12px;
    font-family: Verdana, Sans-serif;
}

@media (min-width: 768px) {
    .col-md-2 {
        flex: 0 0 auto;
        width: 16.66666667%;
        display: flex;
        justify-content: center;
    }
}

.downArrow {
    font-weight: 800;
    font-size: 20px;
}

mat-drawer-container {
    height: 100vh;
}

mat-drawer {
    position: fixed;
    top: 70px;
    cursor: pointer;
}

mat-drawer button {
    display: block;
    position: relative;
    top: 35px;
    border: none;
    background-color: #086288;

    img {
        width: 25px;
    }

    small {
        display: block;
        color: white;
        font-weight: 400;
    }
}

mat-drawer-content {
    padding: 25px;
    background-color: #F9F9F9;
    overflow-y: hidden;
}

.home {
    display: flex;
}

.active {
    color: #ffffff;
    background-color: #086288;
}

.logout {
    border: 1px solid #075575;
}

:host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    color: transparent;
    outline: none !important;
}

.mat-form-field {
    display: inline-block;
    position: relative;
    text-align: left;
    width: 75%;
}

.user img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}