.newBatch {
  background-color: #FAA81D;
}

.nav-link {
  color: #FAA81D;
  font: 13px Verdana, Sans-serif;

  p {
    font-weight: 500
  }
}

tbody,
td,
tfoot,
th,
thead,
tr {
  border-color: none;
  border-style: solid;
  border-width: 0;
}

table thead {
  background-color: #E9EEF7;

  tr th {
    font-weight: 500;
  }
}

.matTable {
  background-color: white;
  border: 1px solid #E9EEF7;
}

.searchBatch {
  background: url('/assets/images/search.png') no-repeat scroll 6px 6px;
  padding-left: 30px;
  background-color: #F4F5F8;
  width: 450px;
  height: 30px;
}

input::placeholder {
  font-size: 13px;
  font-weight: bolder;
  font-family: 'Open Sans', sans-serif;
}

.action {
  display: flex;
  justify-content: space-evenly;
}
