<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="#">
            <img src="/assets/images/logo1.png" alt="" />
          </a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="search form-control me-2" type="search" placeholder="Search Mentor/Employee"
          aria-label="Search" />
      </form>
      <button mat-button type="button" class="logout">Logout</button>
    </div>
  </div>
</nav>

<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened class="sidenav">

    <div class="btnBatch">
      <button mat-raised-button class="batch" routerLink="batch" [routerLinkActive]="['active']">
      </button>
      <small>Batch</small>
    </div>

    <div class="btnMentor">
      <button mat-raised-button class="mentor" routerLink="mentor" [routerLinkActive]="['active']">
      </button>
      <small>Mentor</small>
    </div>

    <div class="btnRequest">
      <button mat-raised-button class="request" routerLink="request" [routerLinkActive]="['active']">
      </button>
      <small>Request</small>
    </div>
  </mat-drawer>

  <mat-drawer-content>
    <div class="home">
      <h4>Home</h4>
      <span class="material-symbols-outlined">chevron_right</span>
      <h4>Batch</h4>
    </div>

    <router-outlet></router-outlet>

  </mat-drawer-content>
</mat-drawer-container>
