<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="row">
        <div class="col-md-4">
          <a class="nav-link" href="#">
            <img src="/assets/images/logo1.png" alt="" />
          </a>
        </div>
        <div class="col-md-7">
          <form class="d-flex" role="search">
            <input class="search form-control me-2" type="search" placeholder="Search Mentor/Employee"
              aria-label="Search" />
          </form>
        </div>
        <div class="col-md-1">
          <button mat-button type="button" class="logout">Logout</button>
        </div>
      </div>
    </div>
  </div>
</nav>

<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened class="sidenav">

    <div class="side" (click)="items()">
      <button mat-button class="mat-button batch" routerLink="batch" [routerLinkActive]="['active']">
        <small>Batch</small>
      </button>
      <button mat-button class="mat-button mentor" routerLink="mentor" [routerLinkActive]="['active']">
        <small>Mentor</small>
      </button>
      <button mat-button class="mat-button request" routerLink="request" [routerLinkActive]="['active']">
        <small>Request</small>
      </button>
    </div>

  </mat-drawer>

  <mat-drawer-content>
    <div class="content">
      <h4 class="home">Home</h4>
      <span class="material-symbols-outlined">chevron_right</span>
      <h4 class="link">
        {{item}}
      </h4>
    </div>

    <router-outlet></router-outlet>

  </mat-drawer-content>
</mat-drawer-container>
