nav {
  position: sticky;
  top: 0px;
  height: 70px;
  background-color: #ffffff;
  z-index: 1;
  border: 1px solid #0000000A;
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    display: block !important;
    flex-basis: auto;
  }
}

.navbar-brand img {
  width: 75%;
  margin-left: 15px;
}

.search {
  background: url('/assets/images/search.png') no-repeat scroll 8px 10px;
  padding-left: 30px;
  background-color: #F4F5F8;
}

.d-flex {
  width: 547px;
  border-radius: 6px;
}

mat-drawer-container {
  height: 100vh;
  display: grid;
}

mat-drawer {
  position: fixed;
  top: 70px;
  cursor: pointer;
}

mat-drawer-content {
  padding: 25px;
  background-color: #F9F9F9;
}

.content {
  display: flex;
}

.logout {
  border: 1px solid #075575;
  color: #075575;
}

input::placeholder {
  font-size: 14px;
  font-weight: bolder;
  font-family: 'Open Sans', sans-serif;
}

mat-drawer-content .home,
h4 {
  font-weight: bolder;
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
}

.sidenav .side button {
  display: block;
  width: 0px;
  height: 75px;
  background-size: 26px;
  small {
    font: 11px 'Open Sans', sans-serif;
    position: relative;
    top: 25px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
  }
}

.active {
  background-color: #075575;
  color: white;

  .batch {
    background-image: url('/assets/images/batchLight.png');
    background-repeat: no-repeat;
    background-position: center center;
  }

  .mentor {
    background-image: url('/assets/images/teamLight.png');
    background-repeat: no-repeat;
    background-position: center center;
  }

  .request {
    background-image: url('/assets/images/requestLight.png');
    background-repeat: no-repeat;
    background-position: center center;
  }
}

.batch {
  background-image: url('/assets/images/Batch.png');
  background-repeat: no-repeat;
  background-position: center center;
}

.mentor {
  background-image: url('/assets/images/team.png');
  background-repeat: no-repeat;
  background-position: center center;
}

.request {
  background-image: url('/assets/images/request.png');
  background-repeat: no-repeat;
  background-position: center center;
}
