<mat-card class="status">
  <div class="headers">
    <h3>Reset your password to continue</h3>
  </div>
  <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">

  <div class="row">
    <div class="batchName col-md-12">
      <mat-form-field appearance="outline">
        <input matInput class="matInput" type="password" id="existing" formControlName="existPassword" required
          placeholder="Enter Existing Password">
        <button type="button" (click)="showPassword()" style="border: none;background:transparent;">
          <span class="material-symbols-outlined" matSuffix (click)="visible()" *ngIf="show">visibility</span>
          <span class="material-symbols-outlined" matSuffix *ngIf="!show">visibility_off</span>
        </button>
      </mat-form-field>
    </div>

    <div class="batchID col-md-12">
      <mat-form-field appearance="outline">
        <input matInput class="matInput" type="password" formControlName="newPassword" minlength="6" required
          placeholder="Enter New Password (Must be atleast 6 characters)">
        <button type="button" (click)="showPassword1()" style="border: none;background:transparent;">
          <span class="material-symbols-outlined" matSuffix (click)="visible1()" *ngIf="show1">visibility</span>
          <span class="material-symbols-outlined" matSuffix *ngIf="!show1">visibility_off</span>
        </button>
      </mat-form-field>
    </div>

    <div class="batchID col-md-12">
      <mat-form-field appearance="outline">
        <input matInput class="matInput" type="password" formControlName="reEnterPassword" required
          placeholder="Re-enter New Password">
        <button type="button" (click)="showPassword2()" style="border: none;background:transparent;">
          <span class="material-symbols-outlined" matSuffix (click)="visible2()" *ngIf="show2">visibility</span>
          <span class="material-symbols-outlined" matSuffix *ngIf="!show2">visibility_off</span>
        </button>
      </mat-form-field>
    </div>
  </div>
  
  <div class="return">
    <button mat-raised-button class="previous" routerLink="mock-rating" [disabled]="resetForm.invalid">Submit</button>
  </div>
</form>
</mat-card>
