<div class="container-fluid">
  <mat-card>
    <div class="row">
      <div class="col-md-3">
        <mat-card>
          <h3>Gender</h3>
            <canvas id="gender"></canvas>
        </mat-card>
      </div>
      <!-- <div class="col-md-1"></div> -->
      <div class="col-md-4">
        <mat-card>
          <h3>Year of Passing</h3>
          <canvas id="passing"></canvas>
        </mat-card>
      </div>
      <div class="col-md-4">
        <mat-card>
          <h3>Experience</h3>
          <canvas id="experience"></canvas>
        </mat-card>
      </div>
    </div>
    <div class="row">
      <div class="col-md-7">
        <mat-card>
          <h3>Employee Degree</h3>
          <canvas id="degree"></canvas>
        </mat-card>
      </div>
      <div class="col-md-5">
        <mat-card>
          <div class="performance">
          <h3>Batch Performance</h3>
          <canvas id="performance"></canvas>
        </div>
        </mat-card>
      </div>
    </div>
  </mat-card>
</div>
