h3 {
    font-weight: 500;
    margin: 0px;
    font-family: Verdana, Sans-serif;
}

mat-card {
    border-radius: 8px;
}

#performance {
    width: 335px;
    height: 200px;
}

#gender {
    width: 335px;
    height: 206px;
    position: relative;
    bottom: 15px;
}

#degree {
    height: 200px;
    width: 335px;

}