h3 {
    font-weight: 500;
    font-family: Verdana, Sans-serif;
}

mat-card {
    border-radius: 8px;
}

#performance {
    height: 200px;
}

#gender {
    height: 200px;
}

#degree {
    height: 200px;
}
