.mat-card:not([class*=mat-elevation-z]) {
    width: 30%;
    height: 30%;
    margin: auto;
    margin-top: 150px;
    border-radius: 15px;
    padding: 40px;
}

.submission {
    h3 {
        font-family: 'Open Sans', sans-serif;
        font-size: 22px;
        text-align: center;
        font-weight: bolder;
        color: #086288;
    }
    .return {
        display: flex;
        justify-content: center;
        .previous {
            font-family: 'Open Sans', sans-serif;
        }
    }
}