.container {
    padding: 50px;
}

.mat-form-field {
    display: inline-block;
    position: relative;
    width: 90%;
    text-align: left;
}

@media (min-width: 1400px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1320px;
        padding: 80px;
    }
}

.submit {
    display: flex;
    justify-content: space-between;
}

mat-card {
    margin-top: 30px;
    height: 67px;
    border: 1px solid #00000029;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    display: flex;
    position: absolute;
    top: 0.95em !important;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
}

.add, .delete {
    cursor: pointer;
    display: flex;
    float: right;
}

.contact {
    display: grid;
    grid-gap: 20px;
}