/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    font-family: Arial, Verdana, Helvetica, Sans-serif;
}

.previous {
    color: #ffffff;
    background-color: #086288;
    border: 1px solid #075575;
    font-weight: 400;
}

.next {
    color: white;
    background-color: #086288;
    border: 1px solid #075575;
    font-weight: 400;
}

.submission {
    margin-top: 30px;
    height: 67px;
    border: 1px solid #00000029;
}

.mat-card:not([class*=mat-elevation-z]) {
    box-shadow: none;
}


mat-accordion {
    border: 1px solid #00000029;
}

.accordGap {
    display: grid;
    grid-gap: 20px;
}

:host ::ng-deep .mat-form-field-appearance-outline {
    padding: 1em 0 1em 0;
    border: #c70a0a !important;
}

mat-card {
    border: 1px solid #182C5224;
}

.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
    background: rgba(46, 45, 45, 0.6);
}

.modal-footer {
    justify-content: none;
    margin: auto;
    padding: 0.15rem;
    border-top: none;
    margin-bottom: 30px !important;
}

.modal-body {
    position: relative;
    flex: 1 1 auto;
    padding: 2rem !important;
}

.modal-backdrop {
    z-index: 0 !important;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
    color: #707070;
}