.details {
    display: flex;
    justify-content: space-evenly;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;

    hr {
        display: none;
    }

    a {
        text-decoration: none;
        color: #717171;
    }

    .active {
        font-size: 25px;
        color: #086288;
        font-weight: bolder;

        span {
            font-size: 21px;
        }

        hr {
            display: block;
            width: 50%;
        }
    }
}

span {
    color: #ffffff;
    background-color: #00B530;
    border-radius: 50%;
    font-size: 15px;
}