.details {
    display: flex;
    justify-content: space-evenly;
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    hr {
        display: none;
    }

    a {
        text-decoration: none;
        color: #717171;
    }

    .active {
        font-size: 30px;
        color: #086288;
        font-weight: 500;

        hr {
            display: block;
            width: 60%;
        }
    }
}