<div class="container-fluid py-5">
  <div class="details">
    <a routerLink="primary" routerLinkActive="active">Primary Info
      <hr style="height:5px;color:#FAA81D;background-color:#FAA81D">
    </a>
    <a routerLink="secondary" routerLinkActive="active">Secondary Info
      <hr style="height:5px;color:#FAA81D;background-color:#FAA81D">
    </a>
    <a routerLink="education" routerLinkActive="active">Education Details
      <hr style="height:5px;color:#FAA81D;background-color:#FAA81D">
    </a>
    <a routerLink="address" routerLinkActive="active">Address Details
      <hr style="height:5px;color:#FAA81D;background-color:#FAA81D">
    </a>
    <a routerLink="bank" routerLinkActive="active">Bank Details
      <hr style="height:5px;color:#FAA81D;background-color:#FAA81D; border: 1px solid #FAA81D;">
    </a>
    <a routerLink="skills" routerLinkActive="active">Technical Skills
      <hr style="height:5px;color:#FAA81D;background-color:#FAA81D">
    </a>
    <a routerLink="experience" routerLinkActive="active">Experience
      <hr style="height:5px;color:#FAA81D;background-color:#FAA81D">
    </a>
    <a routerLink="contact" routerLinkActive="active">Contact
      <hr style="height:5px;color:#FAA81D;background-color:#FAA81D">
    </a>
  </div>
  <router-outlet></router-outlet>
</div>
