<div class="container-fluid">

  <mat-card>
    <div class="row">

      <div class="col-md-3">
        <div class="attendance px-2">
          <label>
            <h3>Attendance</h3>
          </label>
          <p class="marks"></p>
          <div class="timing">
            <p class="morning">Morning</p>
            <p class="noon">Noon</p>
          </div>
        </div>
      </div>

      <div class="col-md-8">
        <div class="rating px-2">
          <label>
            <h3>Mock Ratings</h3>
          </label>
          <div class="graph">
            <canvas id="demo"></canvas>
          </div>
        </div>
      </div>
    </div>
  </mat-card>
</div>
