<div class="container-fluid">

  <mat-card>
    <div class="row">

      <div class="col-md-3">
        <div class="attendance">
          <label>
            <h3>Attendance</h3>
          </label>
          <div class="marks">
            <div class="attented">25</div><span class="slash">/</span><div class="total">40</div>
          </div>
          <div class="timing">
            <div class="morn">
              <p class="morning">Morning:</p>&nbsp;&nbsp;<div style="color: #FAA81D; font-weight: bold;">25</div>/<div>40</div>
            </div>
            <div class="noon">
              <p class="afterNoon">Noon:</p>&nbsp;&nbsp;<div style="color: #00AEF7; font-weight: bold;">25</div>/<div>40</div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-9">
        <div class="rating px-2">
          <label>
            <h3>Mock Ratings</h3>
          </label>
          <div class="graph">
            <canvas id="demo"></canvas>
          </div>
        </div>
      </div>
    </div>
  </mat-card>
</div>
