<div class="container-fluid">

  <mat-card>
    <div class="row py-15">
      <div class="col-md-3">
        <form action="/action_page.php">
          <fieldset>
            <legend>Attendance</legend>
            <div class="count">

            </div>
          </fieldset>
        </form>
      </div>
      <div class="col-md-8">
        <form action="/action_page.php">
          <fieldset>
            <legend>Mock Ratings</legend>
            <div class="rating">
              <canvas id="demo"></canvas>
              <div class="row">
                <div class="col-md-5"></div>
                <div class="col-md-5 mocks">
                  <div class="mock"><p>Mock</p></div>
                  <div class="remock"><p>Remock</p></div>
                  <div class="col-md-2"></div>
                </div>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </mat-card>
</div>
